.list {
	display: flex;
	flex-direction: column;

	width: 300px;
	margin-right: 5rem;

	min-height: 250px;
}
.buttons {
	display: flex;

	justify-content: space-between;
}
.item {
	font-size: 18px;
	min-height: 100px;
	margin-top: 1rem;
}
.title {
	font-size: 24px;
	overflow: hidden;
	text-wrap: nowrap;
	/* text-transform: uppercase; */
}
