.main {
	margin-top: 1.5rem;
	height: 100vh;
}
.title {
	font-size: 24px;
	margin-right: 2.5rem;
}
.top {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	max-width: 700px;
	padding: 3rem 0;
}
.list {
	display: flex;
}
